html {font-size: 100%;} /*16px*/

:root {
    --black: #07070A;
    --blue: #3772FF;
    --gray: #FAFAFA;
    --red: #DF2935;
    --red-light : #D36582;
    --white: #ffffff;
    --snow-white : #F0F0F0;
    --orange : #F19953;
    --timberwolf : #D0CFCF;
}

body {
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/*--------------------------------------------------------------
                        # Header
--------------------------------------------------------------*/
#header {
    position: sticky;
    top: 0px;
    z-index: 999;
}

#header .navbar-brand > a {
    text-decoration: none;
    color: var(--blue);
}

/* Tambahkan class baru untuk header ketika di-scroll */
.header-scrolled {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Pastikan header tetap di atas dan z-index-nya tinggi ketika di-scroll */
.header-scrolled {
    position: sticky;
    top: 0;
    z-index: 999;
}


@media only screen and (max-width: 425px){
    /*Small smartphones [325px -> 425px]*/
    #header .navbar-brand h5 {
        font-size: 16px;
    }
}


/*--------------------------------------------------------------
                        # Navbar
--------------------------------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    position: relative;
    list-style: none;
    padding: 0 25px;
}

/* Make Line Hover */
.navbar li a {
    position: relative;
    text-decoration: none;
    color: var(--black);
    overflow: hidden;
}

.navbar li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar li a:hover:before {
    transform: scaleX(1);
}
/*--------------------------------------------------------------
                        # Mobile Collapse
--------------------------------------------------------------*/
.mobile-collapse {
    display: none;
}

@media only screen and (max-width: 540px){
    .mobile-collapse {
        display: block;
    }
    .navbar {
        display: none;
        position: fixed;
        top: 100px; /* Adjust the top position to your liking */
        max-width: 280px;
        left: 50px;
        right: 50px;
        width: 100%;
        background-color: var(--gray);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 8px;
    }

    .navbar.show-mobile-menu {
        display: block;
    }

    .navbar.show-mobile-menu ul {
        display: flex;
        flex-direction: column;
    }

    .navbar.show-mobile-menu li {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .navbar.show-mobile-menu li a {
        font-size: 14px;
    }
}


/*--------------------------------------------------------------
                        # Research Car
--------------------------------------------------------------*/
.modal .btn-modal-close {
    background-color: var(--white);
    border: 0px;
}

.modal .btn-modal-close .bi-x-lg {
    font-size: 20px;
}

.modal .btn-modal-close .bi-x-lg:hover {
    color: var(--red);
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form .btn-search {
    background-color: var(--blue);
    color: var(--white);
}

.modal form .select {
    width: 100% !important;
}

@media only screen and (max-width: 540px){
    .modal-header button {
        width: auto;
        height: auto;
    }
}


/*--------------------------------------------------------------
                        # Hero
--------------------------------------------------------------*/

.popular-box {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    background-color: var(--snow-white);
}

.popular-box > .text-btn {
    display: inline-block;
    border-radius: 30px;
    padding: 8px 20px;
    margin-right: 10px;
    color: var(--white);
    background-color: var(--blue);
}

#hero h1 {
    font-size: 64px;
    line-height: 100px;
}

#hero .h1-text {
    color: var(--blue);
}

#hero .hero-text {
    padding: 100px;
}

#hero .img-fluid {
    border-radius: 0 0 0 100px;
    object-fit: cover;
    padding: 0;
    width: 150% !important;
    height: 90vh;
}

#hero .hero-img {
    padding: 0;
}


#hero .search-box {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 31px 81px rgba(0, 17, 77, 0.2);
    border-radius: 12px;
    padding: 15px 0;
    position: relative;
    z-index: 5;
    margin: 40px 0;
}

#hero .btn-search {
    width: 100% !important;
    background-color: var(--blue);
    color: var(--white);
}

@media only screen and (max-width: 540px){

    #hero .popular-box {
        font-size: 10px;
    }

    #hero .hero-img {
        display: none;
    }

    #hero .hero-text {
        padding: 30px;
    }

    #hero h1 {
        font-size: 48px;
    }

    #hero .search-box {

    }
}

@media only screen and (max-width: 768px) {

    #hero .popular-box {
        font-size: 10px;
    }

    #hero .hero-img {
        display: none;
    }

    #hero .hero-text {
        padding: 30px;
    }

    #hero h1 {
        font-size: 58px;
    }

}

/*  Tablet  */

/*--------------------------------------------------------------
                        # Popular Cars
--------------------------------------------------------------*/

#popular-cars h5 {
    font-weight: 500;
}



.card-container {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.card {
    width: 100%!important;
}

@media screen and (min-width: 992px) {
    .card {
        width: calc(25% - 20px); /* Assuming there's a 20px margin between cards */
    }
}

/* Tablet - Display 2 or 3 cards per page */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .card {
        width: calc(33.33% - 20px); /* Assuming there's a 20px margin between cards */
    }
}

/* Android - Display 1 card per page */
@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}